body
{
    background-color: black;
}
.nav-slider
{
    height: 100vh;
    width: 60px;
    position: fixed;
    z-index: 99999;
    background-color: #f8f6f6;
    text-align: center;
    transition: all 0.5s ;
}
.logo
{
    text-align: center;
    padding-top: 25px;
    height: 60px;
}
.open-menu
{
	transform: scale(1) !important;
}
.close-menu
{
	transform: translateX(-100%) !important;
}
.logo img
{
    
    height: 48px;
    width: 30.5px;
}
.slider-sign
{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.slider-sign i
{
    font-size: 25px;
}
.slider-sign i:hover
{
    cursor: pointer;
}
.slider-bottom
{
    position: absolute;
    bottom: 20px;
    left: 50%;
	transform: translate(-50%);
}
.share-icon
{
    padding-top: 10px;
}
.nav-menu
{
    position: fixed;
	top: 0;
	left: 0px;
	width: 250px;
	height: 100vh;
	z-index: 5555;
	background-color: #000;
	transform: translateX(-100%);
	transition: all 0.5s;
}
.nav-menu ul
{
    overflow: hidden;
    padding-left: 30px;
}
.nav-menu li
{
    list-style: none;
}
.nav-menu li 
{
	padding-top: 500px;
	opacity: 0;
}
.nav-menu a
{
    text-decoration: none;
}
.close-menu
{
	transform: translateX(-100%) !important;
}
.nav-menu ul li a
{
    color: #f9f6f6;
    font-weight: 500;
    font-size: 16px;
}
.nav-menu ul li a:hover 
{
	color: #ff655c;
	transition:all 0.3s;
}
.nav-social-icon  a:hover
{
    color: #ff655c;
    cursor: pointer;
	transition:all 0.3s;
}
.nav-social-icon
{
    
	position: absolute;
	bottom: 100px;
	left: 20px;
}
.nav-social-icon i
{
    padding-right: 15px;
}
.nav-social-icon i:hover
{
    color: #ff655c;
	transition:all 0.3s;
}
.nav-social-item  a 
{
	color: #f9f6f6;
	padding-left: 15px;
	font-size:14px;

}

.cpyright
{
    padding-top: 10px;
}
#allMovies
{
    background-color: #000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
#word
{
    background-color: #000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.movie
{
    overflow: hidden;
}
.layer
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255,255,255,.5);
    text-align: center;
	color:#000;
	font-weight: 800;
	transition: all 1s;
}
.movie:hover .layer
{
	top: 0;
	transition: all 1s;
}
.form-control
{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,.7);
	border-radius: 0;
	color: #fff;
	font-weight: 800;
}
.form-control:focus
{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,.7);
	border-radius: 0;
}
#contact input::placeholder
{
	text-align: center;
}

#inputs1
{
	display: flex;
	justify-content: center;
}

#inputs1 input
{
	
	margin-right: 20px;
	
}


#inputs2
{
	display: flex;
	justify-content: center;
}

#inputs2 input
{
	width: 50%;
	margin-right: 20px;
	
}

#inputs3
{
	display: flex;
	justify-content: center;
}

#inputs3 input
{
	width: 50%;
	margin-right: 20px;
	
}
#submitBtn
{
	margin-top: 10px;
}
.left1
{
	margin-right: 20px;
	width: 50%;
}
.right1
{
	width: 50%;
}


